extends layout

block content
  nav.navbar.navbar-expand-md.navbar-dark
      
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a(class="nav-link active" aria-current="page" href="/movies")
              | Home 
              span.sr-only (current)
          li.nav-item
            a(class="nav-link" href="/movies/add")= action
        form(class= 'form-inline.mt-2.mt-md-0' action="/logout" method="post")
          if(!user)
            a(class="nav-link active" aria-current="page" href="/login") Login 
          else
            a(class="navbar-brand" href="#")= `Welcome ${user}`
            button(class="nav navbar-nav navbar-right" id='sign-out' type="submit") Sign out 
  header(id="list-header")
    h1= title
  .content 
    if movies.length > 0
      #movies-wrapper
        .movies-list
          each val in movies
            .movie
              a(class = "movie-info" href=`/movies/${val.id}`)
                img.img-rounded.logo(src=`${val.ImageURL}`)
              .movie-info
                h3= val.title
                | 
                h3= val.year
              .overview 
                h3= `Rating ${val.rating}`
                 