extends layout

block content
  nav(class="navbar navbar-expand-lg navbar-dark")
    .container-fluid
      a(class="navbar-brand" href="#")
      button(class="navbar-toggler" type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" aria-expanded="false" 
          aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
        div(class="navbar-nav")
          a(class="nav-link active" aria-current="page" href="/movies") Home
          a(class="nav-link" href="/movies/add")= action
      form(class="d-flex" action="/logout" method="post") 
        button(class="nav navbar-nav navbar-right" id='sign-out' type="submit") Sign out 
  header(id="list-header")
    h1= title
  hr
  if msg 
    p(class='redtext')= msg
  div(class='wrapper wrapper--w780')
    div(class='card card-3')
      .card-heading 
      .card-body 
        form(method='POST' action=`/movies/${movie.id}/edit`)
          .input-group
            input(type='text' class = 'input-style' name='movieTitle' value=movie.title) 
          .input-group
            input(type='number' class = 'input-style' name='year' value=movie.year) 
          .input-group
            textarea(name="synopsis" class = "input-style" placeholder= "Synopsis" cols="30", rows="6")= movie.synopsis
          .input-group 
            input(type="number" class = "input-style" name="rating"  value=movie.rating) 
          div.p-t-10
            button(type='submit' class='btn btn--pill btn--green') Save 
            a(href='/movies') 
              button(class='btn btn--pill btn--green') Cancel
