extends layout

block content
  nav.navbar.navbar-expand-md.navbar-dark
      a(class="navbar-brand" href="#")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a(class="nav-link active" aria-current="page" href="/movies")
              | Home 
              span.sr-only (current)
        form(class= 'form-inline.mt-2.mt-md-0' action="/logout" method="post")
          button(class="nav navbar-nav navbar-right" id='sign-out' type="submit") Sign out 
  header(id="list-header")
    h1= title
  hr
  if msg 
    p(class='redtext')= msg
  div(class='wrapper wrapper--w780')
    div(class='card card-3')
      .card-heading 
      .card-body 
        form(method='POST' action=`/movies/${movie.id}/edit`)
          .input-group
            input(type='text' class = 'input-style' name='movieTitle' value=movie.title) 
          .input-group
            input(type='number' class = 'input-style' name='year' value=movie.year) 
          .input-group
            textarea(name="synopsis" class = "input-style" placeholder= "Synopsis" cols="30", rows="6")= movie.synopsis
          .input-group 
            input(type="number" name="rating" min=0 max=10  class = "input-style" placeholder = "Rating"  step="0.01" value=movie.rating) 
          div.p-t-10
            button(type='submit' class='btn btn--pill btn--green') Save 
            a(href='/movies') 
              button(class='btn btn--pill btn--green') Cancel
