extends layout

block content
  header(id="list-header")
    h1= title
    a( id = "movie-form-send" href="/movies/add") Add a Movie
  .content 
    if movies.length > 0
      #movies-wrapper
        .movies-list
          each val in movies
            .movie
              a(class = "movie-info" href=`/movies/${val.id}`)
                img.img-rounded.logo(src=`${val.ImageURL}`)
              .movie-info
                h3= val.title
                | 
                h3= val.year
              .overview 
                h3= val.synopsis
                 